
<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "title", "Title" %>
    <%= form.text_field "title" %>
  </p>

  <p>
    <%= form.label "posted_on", "Today's Date" %>
    <%= form.date_field "posted_on" %>
  </p>

  <p>
    <%= form.label "description", "Description" %>
    <%= form.text_field "description" %>
  </p>

  <%= form.hidden_field "place_id" %>

  <%= form.submit %>
<% end %>