<h1><%= @place["name"] %></h1>

<body>
  <% for post in @posts %>
    <p>
      <h3><%= post["title"] %></h3>
      <h6><%= post["posted_on"]%></h6>
      <p><%= post["description"] %></p>
      <br>
    </p>
  <% end %>
</body>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p><a href="/places">Home</a></p>
  